!!!
html(ng-app="Almin")
  head
    meta(charset='utf8')
    base(href='/')
    title Almin
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/responsive.css')
    link(rel='stylesheet', href='/css/almin.css')
  body
    block body